<div class="row">
    <div class="col-4"></div>
    <div class="col-4"></div>
    <div class="col-4">
        <h1 class="font side"><br><b>Welcome to YES Bank </b><br>{{Aim}}</h1>
        
        <div class="container side"></div>
        <form>
            <div class="mb-3 font side">
                <label for="exampleFormControlInput1" class="form-label font side">Account Number</label>
                <input type="text" class="form-control font side" id="acno" [value]="accno">
            </div>

            <div class="mb-3 font side">
                <label for="exampleFormControlInput1" class="form-label font side">Password</label>
                <input type="password" class="form-control font side" id="pwd">
            </div>
            <div class="mb4 font side">
                <a href="#" class="font side">Forgot password?</a>
            </div>
            <div class="button font side">
                <button class="btn btn-dark font side" type="button" >Log in</button>
            </div>
        </form>
        <div class="class font side">

            <div class="lnk font side">
                <a href="#">Create new account.</a>
            </div>
        </div>
    </div>